*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body{
    overflow-anchor: none;
}

html{
    scroll-behavior: smooth;
    
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

section{
    border: 1px solid rgb(41, 41, 41);
    height: 100vh;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*background: linear-gradient(to right,rgb(99, 192, 99), rgb(68, 241, 68));*/
    background: linear-gradient(to right,rgb(68, 65, 71), rgb(101, 94, 105));
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row-reverse;
    z-index: 5;
}

ul{
    width: 300px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 24px;
    
}

ul a{
    color: rgb(235, 233, 233);
    width: 100%;
}

ul li{
    transition: transform .5s;
}

ul li:hover{
    color: rgb(41, 34, 34);
    transform: scale(1.2);
}

.user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:rgb(235, 233, 233);
}

.user i{
    margin-right: 10px;
}

main{
    margin-top: 57px;
}

#welcome-section{
    height: 100vh;
    /*background: linear-gradient(rgb(26, 25, 25), rgb(87, 85, 85));*/
    background: linear-gradient(rgb(8, 8, 8), rgb(46, 46, 46));
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.apresentation{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.apresentation h1{
    font-size: 50px;
    padding-bottom: 40px;
    z-index: 1;
    color: transparent;
    animation-name: hello;
    animation-duration: 1s;
    animation-delay: .1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes hello {
    0% {
        transform: translateY(-120px);
        color: transparent;
    }

    50% {
        transform: translateY(-60px);
        color: rgb(169, 78, 230);
    }

    100% {
        transform: translateY(0px);
        color: rgb(206, 180, 219);
        text-shadow: 5px 5px 10px rgb(41, 40, 40);
    }
}

.apresentation h2{
    font-size: 38px;
    padding-bottom: 30px;
    color: rgb(144, 206, 182);
    text-shadow: 4px 4px 8px rgb(41, 40, 40);
    animation-name: student;
    animation-duration: 1.5s;
    animation-delay: .1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes student {
    0% {
        opacity: 0;
    }

    25% {
        opacity: .25;
    }

    50% {
        opacity: .5;
    }

    75% {
        opacity: .75;
    }

    100% {
        opacity: 1;
    }
}

.apresentation h3{
    font-size: 26px;
    color: rgb(140, 199, 209);
    text-shadow: 5px 5px 10px rgb(41, 40, 40);
    animation-name: descript;
    animation-duration: 1s;
    animation-delay: .1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes descript {
    0% {
        transform: translateY(120px);
        color: transparent;
    }

    50% {
        transform: translateY(60px);
        color: rgb(98, 133, 139);
    }

    100% {
        transform: translateY(0px);
        color: rgb(140, 199, 209);
        text-shadow: 5px 5px 10px rgb(41, 40, 40);
    }
}

section#projects{
    background: linear-gradient(rgb(90, 90, 105), rgb(156, 133, 221));
    height: auto;
}

#projects .box{
    margin: 30px auto;
    width: 50%;
    max-width: 600px;
    margin-bottom: 50px;
}

#projects .box h2{
    color: rgb(212, 189, 216);
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
}



#projects hr{
    height: 5px;
    background-color:rgb(57, 44, 70);
    border: 0;
    border-radius: 8px;
    margin-bottom: 10px;
}

.project-tile{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.project-tile a{
    border: 5px solid rgb(88, 16, 139);
    border-radius: 4px;
    width: 48%;
    max-width: 600px;
    margin-bottom: 20px;
    transition: transform .5s;
}

.project-tile a:hover{
    transform: scale(1.2);
}

.project-tile a img{
    width: 100%;
   height: auto;
}

.project-tile p{
    background-color: rgb(52, 22, 73);
    width: 100%;
    padding: 10px;
    color: rgb(236, 223, 223);
    font-weight: bold;
    text-align: center;
    font-size: 22px;
}

#projects h2{
    width: 280px;
    background: linear-gradient(rgb(57, 44, 70), rgb(85, 71, 105));
    border-radius: 6px;
    margin: 0 auto;
    padding: 10px;
    color: rgb(212, 189, 216);
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
    transition: transform .5s;
}

#projects h2.link{
    width: 200px;
}

#projects h2#link:hover{
    transform: scale(1.2);
    background: linear-gradient(rgb(59, 49, 70), rgb(90, 80, 104));
}

#contact{
    background: linear-gradient(rgb(140, 140, 185), rgb(150, 135, 163));
    height: auto;
    color: rgb(17, 17, 17);
}

#contact h1{
    text-align: center;
    font-size: 60px;
    margin: 30px 0;
    
}

.redes{
    margin: 0 auto;
    width: 95%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes .box{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .5s;
}

.redes .box:hover{
    transform: translateY(10px);
}

.redes .box i{
    margin-right: 10px;
    font-size: 30px;
    color: rgb(17, 17, 17);
}

.redes .box a{
    color: rgb(17, 17, 17);
    font-size: 30px;
    font-weight: bold;
}

.footer {
    background-color: transparent;
    margin-top: 30px;
}

.footer hr{
    background-color: rgb(25, 77, 77);
    border: 0;
    height: 4px;

}

.footer p{
    text-align: center;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer i{
    margin-left: 6px;
}

@media (max-width:913px){
    .apresentation h1{
        font-size: 40px;
    }

    .apresentation h2{
        font-size: 28px;
    }

    .apresentation h3{
        font-size: 20px;
    }
}

@media (max-width:640px){
    nav{
        flex-direction: column;
        flex-flow: column-reverse;
    }

    nav .user {
        margin-bottom: 20px;
    }

   .project-tile{
       flex-direction: column;
       padding: 20px 1%;
   }

   .project-tile a{
       width: 100%;
   }

   #contact h1{
       font-size: 45px;
   }

   .redes .box i{
    font-size: 25px;
   }

   .redes .box a{
    font-size: 25px;
   }

   #projects .box{
       width: 100%;
   }

   
}

@media (max-width:520px){
    nav{
        padding: 7px;
    }
    
    ul{
        width: 250px;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        font-size: 18px;
    }
    
    .user h1{
        font-size: 22px;
    }

    .apresentation h1{
        font-size: 30px;
    }

    .apresentation h2{
        font-size: 24px;
    }

    .apresentation h3{
        font-size: 18px;
    }

    #projects h2{
        font-size: 24px;
        width: 100%;
    }

    #contact h1{
        font-size: 30px;
    }
 
    .redes .box i{
     font-size: 18px;
    }
 
    .redes .box a{
     font-size: 18px;
    }
 }

@media (max-width:400px){
    .redes{
        flex-direction: column;
    }

    .redes .box{
        margin-bottom: 20px;
    }

    .redes .box i{
        font-size: 26px;
    }
    
    .redes .box a{
        font-size: 26px;
    }
}